# Node.js
**/node_modules/
npm-debug.log*
package-lock.json
frontend/dist/
frontend/build/

# Python
**/.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/

# VSCode and IDEs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
.env
*.bak
*.tmp

# Database
*.db