## Optional: If want to use cloud hosted LLM models, set the model name and API key here.
# Model name should always start with provider prefix, e.g., "gemini/", "ollama/", "openai/" etc.
LLM_MODEL_NAME=gemini/gemini-2.5-flash
LLM_API_KEY=paste-your-llm-api-key